body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(232, 220, 217);
}

.header {
    /* display: flex; */
    margin: 0;
    background-color: #ea8024 ;
}

.header-title {
    display: flex;
    flex-direction: row;
    gap: 128px;
    font-size: 28px;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 24px;
}

.welcome {
    font-size: 36px;
}

.steps {
    font-size: 20px;
}

.header-inputs {
    margin-left: 50px;
}

#output-container {
    /* flex-grow: 1;             */
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;        /* Prevents scrolling if content exceeds container */
}

canvas {
    max-height: 100%;        /* Ensures canvas doesn't exceed output-container height */
    width: 100%;             /* Adjusts width to fill available space */
    height: auto;            /* Keeps aspect ratio for the chart */
}
