body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(232, 220, 217);
}

.header {
    /* display: flex; */
    margin: 0;
    background-color: #ea8024 ;
}

.header-title {
    display: flex;
    flex-direction: row;
    gap: 128px;
    font-size: 28px;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 24px;
}

.welcome {
    font-size: 36px;
}

.steps {
    font-size: 20px;
}

.header-inputs {
    margin-left: 50px;
}

#output-container {
    margin-top: 12px;
    display: flex;
    flex-direction: row; /* Display children side by side */
    justify-content: space-between; /* Distribute space evenly */
    align-items: flex-start; /* Align items to the top */
    overflow: auto; /* Allow scrolling if content exceeds container */
    width: 100%;
    min-height: 200px; /* Set a minimum height */
}

canvas {
    flex: 1; /* Allow the canvas to grow and fill available space */
    max-width: 75%; /* Adjusts width to fill half of the available space */
    height: auto; /* Keeps aspect ratio for the chart */
}

#sideContainer {
    display: flex;
    flex-direction: column;
}

#sideContainer > div {
    /* flex: 1;  */
    max-width: 100%; /* Adjusts width to fill half of the available space */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Optional: Add a background color */
    border: 1px solid #ddd; /* Optional: Add a border */
    border-radius: 5px; /* Optional: Add rounded corners */
    margin: 0 20px; /* Add some space between the canvas and stats container */
}
