body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(232, 220, 217);
}

.header {
    margin: 0;
    background-color: #ea8024 ;
}

.header-title {
    display: flex;
    flex-direction: row;
    gap: 128px;
    font-size: 28px;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 24px;
}

.welcome {
    font-size: 36px;
}

.header-inputs {
    margin-left: 50px;
}
